test-app.json
[{"id":"b42c432e.4bd3c","type":"simplicite-config","host":"localhost","port":"8080","root":"","user":"designer","password":"designer","debug":"false"},{"id":"f2d334bf.0d2cc8","type":"http in","name":"","url":"/_app","method":"get","swaggerDoc":"","x":87,"y":66,"z":"1ba4f156.e45b0f","wires":[["4d1f5d1b.b2e0a4"]]},{"id":"91817803.6e7e88","type":"http response","name":"","x":728,"y":66,"z":"1ba4f156.e45b0f","wires":[]},{"id":"b3d779dc.4c2888","type":"http response","name":"","x":582,"y":186,"z":"1ba4f156.e45b0f","wires":[]},{"id":"ffc83c7e.0037c","type":"http in","name":"","url":"/_appinfo","method":"get","swaggerDoc":"","x":100,"y":186,"z":"1ba4f156.e45b0f","wires":[["e5e8dba9.1a1728"]]},{"id":"28bd226b.d742de","type":"template","name":"grant","field":"payload","template":"Hello <b>{{payload.firstname}} {{payload.lastname}}</b> (<i>{{payload.login}}</i>)!\n{{#payload.picture}}\n<br/><img src=\"data:{{mime}};base64,{{content}}\"/>\n{{/payload.picture}}\n\n","x":581,"y":66,"z":"1ba4f156.e45b0f","wires":[["91817803.6e7e88"]]},{"id":"423d7c4.fbdc284","type":"debug","name":"","active":false,"console":"false","complete":"false","x":573,"y":122,"z":"1ba4f156.e45b0f","wires":[]},{"id":"6f78eae1.908714","type":"template","name":"appinfo","field":"payload","template":"<p>\nApplication name: <b>{{payload.name}}</b>\n<br/>Application version: <b>{{payload.version}}</b>\n<br/>Platform version: <b>{{payload.platformversion}}</b>\n<br/>Platform encoding: <b>{{payload.encoding}}</b>\n<br/>Server: <b>{{payload.server}}</b>\n</p>","x":428,"y":186,"z":"1ba4f156.e45b0f","wires":[["b3d779dc.4c2888"]]},{"id":"9168f637.6e9708","type":"debug","name":"","active":false,"console":"false","complete":"false","x":425,"y":242,"z":"1ba4f156.e45b0f","wires":[]},{"id":"da0fd82b.25f028","type":"simplicite-session","name":"grant","server":"b42c432e.4bd3c","action":"grant","x":420,"y":64,"z":"1ba4f156.e45b0f","wires":[["28bd226b.d742de","423d7c4.fbdc284"]]},{"id":"e5e8dba9.1a1728","type":"simplicite-session","name":"appinfo","server":"b42c432e.4bd3c","action":"appinfo","x":265,"y":186,"z":"1ba4f156.e45b0f","wires":[["6f78eae1.908714","9168f637.6e9708"]]},{"id":"4d1f5d1b.b2e0a4","type":"function","name":"params","func":"msg.payload = { \n\tparameters: {\n\t\tinlinePicture: true\n\t}\n};\nreturn msg;","outputs":1,"valid":true,"x":265,"y":66,"z":"1ba4f156.e45b0f","wires":[["da0fd82b.25f028"]]},{"id":"15143326.eaebcd","type":"http response","name":"","x":582,"y":317,"z":"1ba4f156.e45b0f","wires":[]},{"id":"9c8b904b.63747","type":"http in","name":"","url":"/_sysinfo","method":"get","swaggerDoc":"","x":100,"y":317,"z":"1ba4f156.e45b0f","wires":[["7dc1ac95.823e54"]]},{"id":"e38b7b9d.1c7488","type":"template","name":"sysinfo","field":"payload","template":"<p>\nObject cache: <b>{{payload.cacheobject}} / {{payload.cacheobjectmax}}</b>\n<br/>Grant cache: <b>{{payload.cachegrant}} / {{payload.cachegrantmax}}</b>\n<br/>Heap: <b>Used {{payload.heapsize}}Kb, Free {{payload.heapfreesize}}Kb, Max {{payload.heapsize}}Kb</b>\n<br/>Disk: <b>DBDoc {{payload.dirdbdoc}}, Cache {{payload.dircache}}Kb, Recycle bin {{payload.dirrecyclebin}}Kb, Free {{payload.diskfree}}Kb</b>\n</p>","x":428,"y":318,"z":"1ba4f156.e45b0f","wires":[["15143326.eaebcd"]]},{"id":"f05054ca.0fafa8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":425,"y":373,"z":"1ba4f156.e45b0f","wires":[]},{"id":"7dc1ac95.823e54","type":"simplicite-session","name":"sysinfo","server":"b42c432e.4bd3c","action":"sysinfo","x":265,"y":317,"z":"1ba4f156.e45b0f","wires":[["e38b7b9d.1c7488","f05054ca.0fafa8"]]}]
