test-obj.json
[{"id":"b42c432e.4bd3c","type":"simplicite-config","host":"localhost","port":"8080","root":"","user":"designer","password":"designer","debug":"false"},{"id":"73726616.8c8d98","type":"http in","name":"","url":"/_suppliers","method":"get","swaggerDoc":"","x":109,"y":53,"z":"10da689d.ef2597","wires":[["6c2172b6.93de8c"]]},{"id":"6c2172b6.93de8c","type":"simplicite-object","name":"","server":"b42c432e.4bd3c","objectname":"DemoSupplier","action":"search","x":328,"y":52,"z":"10da689d.ef2597","wires":[["57372f51.a8c8d","5e9955ff.a166ac"]]},{"id":"3fb1a63c.c04e5a","type":"http response","name":"","x":717,"y":52,"z":"10da689d.ef2597","wires":[]},{"id":"57372f51.a8c8d","type":"debug","name":"","active":false,"console":"false","complete":"false","x":546,"y":119,"z":"10da689d.ef2597","wires":[]},{"id":"5e9955ff.a166ac","type":"template","name":"suppliers","field":"payload","template":"{{#payload.error}}\n<p style=\"color: red;\">{{message}}</p>\n{{/payload.error}}\n{{^payload.error}}\n<h3>Suppliers</h3>\nCount: {{payload.count}}\n<ul>\n{{#payload.list}}\n\t<li><b>Row ID</b>: {{row_id}}\n\t\t<ul>\n\t\t\t<li><b>Code</b>: {{supCode}}</li>\n\t\t\t<li><b>Name</b>: {{supName}}</li>\n\t\t</ul>\n\t</li>\n{{/payload.list}}\n</ul>\n{{/payload.error}}","x":551,"y":52,"z":"10da689d.ef2597","wires":[["3fb1a63c.c04e5a"]]},{"id":"412b0161.bed5","type":"http in","name":"","url":"/_client","method":"get","swaggerDoc":"","x":93.09091186523438,"y":177.09091186523438,"z":"10da689d.ef2597","wires":[["c4d92425.3b26d8"]]},{"id":"c4d92425.3b26d8","type":"function","name":"params","func":"var row_id = msg.req.query.row_id;\nif (!row_id) row_id = 0;\nmsg.payload = {\n\trow_id: row_id\n}\nreturn msg;","outputs":1,"valid":true,"x":259.0909118652344,"y":177.09091186523438,"z":"10da689d.ef2597","wires":[["c0a19377.3f5e7"]]},{"id":"fd2ba3f4.02d46","type":"template","name":"client","field":"payload","format":"handlebars","template":"{{#payload.error}}\n<p style=\"color: red;\">{{message}}</p>\n{{/payload.error}}\n{{^payload.error}}\n<h3>Client</h3>\n<ul>\n\t<li><b>Row ID</b>: {{payload.row_id}}\n\t\t<ul>\n\t\t\t<li><b>Code</b>: {{payload.cliCode}}</li>\n\t\t\t<li><b>Name</b>: {{payload.clifirstname}} {{payload.cliLastname}}</li>\n\t\t</ul>\n\t</li>\n</ul>\n{{/payload.error}}","x":602.0909423828125,"y":178.09091186523438,"z":"10da689d.ef2597","wires":[["10d4c84b.ef2b38"]]},{"id":"c0a19377.3f5e7","type":"simplicite-object","name":"","server":"b42c432e.4bd3c","objectname":"DemoClient","action":"get","x":426.0909118652344,"y":177.09091186523438,"z":"10da689d.ef2597","wires":[["fd2ba3f4.02d46","6817a9f2.97e858"]]},{"id":"10d4c84b.ef2b38","type":"http response","name":"","x":774.0909729003906,"y":178.09091186523438,"z":"10da689d.ef2597","wires":[]},{"id":"6817a9f2.97e858","type":"debug","name":"","active":true,"console":"false","complete":"false","x":554.0909729003906,"y":242.09091186523438,"z":"10da689d.ef2597","wires":[]}]
