test3.json
[{"id":"b42c432e.4bd3c","type":"simplicite-config","host":"localhost","port":"8080","root":"demows","user":"designer","password":"designer"},{"id":"1fe3a19d.e01c5e","type":"http in","name":"","url":"/messages","method":"get","x":101,"y":225,"z":"1ba4f156.e45b0f","wires":[["7994888d.866b78"]]},{"id":"7994888d.866b78","type":"simplicite-object","name":"","server":"b42c432e.4bd3c","objectname":"BluemixDemoMessage","action":"search","x":324,"y":225,"z":"1ba4f156.e45b0f","wires":[["fba94260.0456c","86e881fb.79178"]]},{"id":"25a25e48.da5da2","type":"http response","name":"","x":684,"y":189,"z":"1ba4f156.e45b0f","wires":[]},{"id":"fba94260.0456c","type":"debug","name":"","active":false,"console":"false","complete":"false","x":520,"y":263,"z":"1ba4f156.e45b0f","wires":[]},{"id":"86e881fb.79178","type":"template","name":"messages","field":"payload","template":"{{#payload.error}}\n<p style=\"color: red;\">{{message}}</p>\n{{/payload.error}}\n{{^payload.error}}\n<h3>Messages</h3>\nCount: {{payload.count}}\n<ul>\n{{#payload.list}}\n\t<li><b>Row ID</b>: {{row_id}}\n\t\t<ul>\n\t\t\t<li><b>Date</b>: {{msgDateTime}}</li>\n\t\t\t<li><b>Name</b>: {{msgName}}</li>\n\t\t\t<li><b>Evaluation</b>: {{msgEval}}</li>\n\t\t\t<li><b>Text</b>: <pre>{{msgText}}</pre></li>\n\t\t</ul>\n\t</li>\n{{/payload.list}}\n</ul>\n{{/payload.error}}","x":527,"y":189,"z":"1ba4f156.e45b0f","wires":[["25a25e48.da5da2"]]}]
