test2.json
[{"id":"b42c432e.4bd3c","type":"simplicite-config","host":"localhost","port":"8080","root":"demows","user":"designer","password":"designer","debug":"false"},{"id":"f2d334bf.0d2cc8","type":"http in","name":"","url":"/grant","method":"get","x":101,"y":209,"z":"1ba4f156.e45b0f","wires":[["4d1f5d1b.b2e0a4"]]},{"id":"91817803.6e7e88","type":"http response","name":"","x":742,"y":209,"z":"1ba4f156.e45b0f","wires":[]},{"id":"28bd226b.d742de","type":"template","name":"grant","field":"payload","template":"Hello <b>{{payload.firstname}} {{payload.lastname}}</b> (<i>{{payload.login}}</i>)!\n{{#payload.picture}}\n<br/><img src=\"data:{{mime}};base64,{{content}}\"/>\n{{/payload.picture}}\n\n","x":595,"y":209,"z":"1ba4f156.e45b0f","wires":[["91817803.6e7e88"]]},{"id":"423d7c4.fbdc284","type":"debug","name":"","active":false,"console":"false","complete":"false","x":587,"y":265,"z":"1ba4f156.e45b0f","wires":[]},{"id":"da0fd82b.25f028","type":"simplicite-session","name":"grant","server":"b42c432e.4bd3c","action":"grant","x":439,"y":209,"z":"1ba4f156.e45b0f","wires":[["28bd226b.d742de","423d7c4.fbdc284"]]},{"id":"4d1f5d1b.b2e0a4","type":"function","name":"grant","func":"msg.payload = { \n\tparameters: {\n\t\tinlinePicture: true\n\t}\n};\nreturn msg;","outputs":1,"x":279,"y":209,"z":"1ba4f156.e45b0f","wires":[["da0fd82b.25f028"]]}]
