test3.json
[{"id":"b42c432e.4bd3c","type":"simplicite-config","host":"localhost","port":"8080","root":"demows","user":"designer","password":"designer","debug":"false"},{"id":"73726616.8c8d98","type":"http in","name":"","url":"/messages","method":"get","x":105,"y":52,"z":"10da689d.ef2597","wires":[["6c2172b6.93de8c"]]},{"id":"6c2172b6.93de8c","type":"simplicite-object","name":"","server":"b42c432e.4bd3c","objectname":"BluemixDemoMessage","action":"search","x":328,"y":52,"z":"10da689d.ef2597","wires":[["57372f51.a8c8d","5e9955ff.a166ac"]]},{"id":"3fb1a63c.c04e5a","type":"http response","name":"","x":717,"y":52,"z":"10da689d.ef2597","wires":[]},{"id":"57372f51.a8c8d","type":"debug","name":"","active":false,"console":"false","complete":"false","x":546,"y":119,"z":"10da689d.ef2597","wires":[]},{"id":"5e9955ff.a166ac","type":"template","name":"messages","field":"payload","template":"{{#payload.error}}\n<p style=\"color: red;\">{{message}}</p>\n{{/payload.error}}\n{{^payload.error}}\n<h3>Messages</h3>\nCount: {{payload.count}}\n<ul>\n{{#payload.list}}\n\t<li><b>Row ID</b>: {{row_id}}\n\t\t<ul>\n\t\t\t<li><b>Date</b>: {{msgDateTime}}</li>\n\t\t\t<li><b>Name</b>: {{msgName}}</li>\n\t\t\t<li><b>Evaluation</b>: {{msgEval}}</li>\n\t\t\t<li><b>Text</b>: <pre>{{msgText}}</pre></li>\n\t\t</ul>\n\t</li>\n{{/payload.list}}\n</ul>\n{{/payload.error}}","x":551,"y":52,"z":"10da689d.ef2597","wires":[["3fb1a63c.c04e5a"]]}]
