test4.json
[{"id":"b42c432e.4bd3c","type":"simplicite-config","host":"localhost","port":"8080","root":"demows","user":"designer","password":"designer","debug":"false"},{"id":"f75dcd75.08a23","type":"http in","name":"","url":"/demo","method":"get","x":104,"y":56,"z":"9267c2d2.6d984","wires":[["933b1f68.6cc4e"]]},{"id":"933b1f68.6cc4e","type":"template","name":"demo","field":"payload","template":"<html>\n<head>\n<title>Node-RED &amp; Simplicit&eacute; demo</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/>\n<link rel=\"shortcut icon\" href=\"http://simplicite-demo.mybluemix.net/images/image/favicon.ico\"/>\n<link href=\"http://localhost:8080/demo/scripts/jquery/bootstrap/css/bootstrap.min.css\" rel=\"stylesheet\"/>\n<script src=\"http://localhost:8080/demo/scripts/jquery/jquery.js\"></script>\n<script src=\"http://localhost:8080/demo/scripts/ajax/appsession.js\"></script>\n<script src=\"http://localhost:8080/demo/scripts/ajax/businessobject.js\"></script>\n</head>\n<body>\n<div class=\"container\">\n\t<div class=\"row\">\n\t\t<div class=\"col-md-12 well\" style=\"text-align: center; margin-top: 10px;\">\n\t\t\t<img src=\"http://localhost:8080/demo/images/image/logo.png\"/>\n\t\t</div>\n\t</div>\n\t<div class=\"row\">\n\t\t<div id=\"products\" class=\"col-md-9\"></div>\n\t\t<div id=\"news\" class=\"col-md-3\"></div>\n\t</div>\n\t<div class=\"row\">\n\t\t<div class=\"col-md-12\" style=\"text-align: center;\"><hr/>&copy; Simplicit&eacute; Software</div>\n\t</div>\n</div>\n<script src=\"http://localhost:8080/demo/scripts/jquery/bootstrap/js/bootstrap.min.js\"></script>\n<script type=\"text/javascript\">\nfunction products() { $(\"#products\").text(\"Loading...\").load(\"/products\"); }\nfunction news() { $(\"#news\").text(\"Loading...\").load(\"/news\"); }\n$(document).ready(function() { products(); news(); });\n</script>\n</body>\n</html>\n","x":279,"y":55,"z":"9267c2d2.6d984","wires":[["6b53d58e.94ac2c"]]},{"id":"6b53d58e.94ac2c","type":"http response","name":"","x":438,"y":55,"z":"9267c2d2.6d984","wires":[]},{"id":"d88088f5.277f78","type":"http in","name":"","url":"/products","method":"get","x":106,"y":277,"z":"9267c2d2.6d984","wires":[["a66c74f4.599388"]]},{"id":"a66c74f4.599388","type":"function","name":"params","func":"msg.payload = {\n\taction: \"search\",\n\tparameters: {\n\t\tinlineDocs: true,/*[ \"prdPicture\" ]*/\n\t},\n\tfilters: {\n\t\tprdAvailable: true\n\t}\n};\nreturn msg;","outputs":1,"x":294,"y":275,"z":"9267c2d2.6d984","wires":[["3f498556.c0b67a"]]},{"id":"3f498556.c0b67a","type":"simplicite-object","name":"","server":"b42c432e.4bd3c","objectname":"DemoProduct","action":"","x":478,"y":275,"z":"9267c2d2.6d984","wires":[["6810523f.97efac","6ce79158.93187"]]},{"id":"6810523f.97efac","type":"template","name":"products","field":"payload","template":"<div class=\"row\">\n\t<div class=\"col-md-12\">\n\t\t<h3>Products <span style=\"font-size: 0.5em; cursor: pointer; float: right;\" onclick=\"products();\">[refresh]</span></h3>\n\t</div>\n{{#payload.list}}\n\t<div class=\"col-md-6\">\n\t\t<div class=\"panel panel-info\">\n\t\t\t<div class=\"panel-heading\">{{prdSupId__supCode}} / {{prdName}}</div>\n\t\t\t<div class=\"panel-body\">\n\t\t\t\t{{#prdPicture}}\n\t\t\t\t<img src=\"data:{{mime}};base64,{{content}}\" style=\"margin: 5px; float: left;\"/>\n\t\t\t\t{{/prdPicture}}\n\t\t\t\t<p>{{{prdDescription}}}</p>\n\t\t\t\t<p style=\"float: right; color: red; font-weight: bold;\">{{prdUnitPrice}} &euro;</p>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n{{/payload.list}}\n</div>","x":657,"y":275,"z":"9267c2d2.6d984","wires":[["efb5770e.104a88"]]},{"id":"efb5770e.104a88","type":"http response","name":"","x":820,"y":274,"z":"9267c2d2.6d984","wires":[]},{"id":"2398e323.dc671c","type":"http in","name":"","url":"/news","method":"get","x":106,"y":143,"z":"9267c2d2.6d984","wires":[["ece17351.131e9"]]},{"id":"e76e1c83.1891e","type":"http response","name":"","x":799,"y":143,"z":"9267c2d2.6d984","wires":[]},{"id":"3c9ae1dc.c3651e","type":"template","name":"news","field":"payload","template":"<div class=\"row\">\n\t<div class=\"col-md-12\">\n\t\t<h3>News <span style=\"font-size: 0.5em; cursor: pointer; float: right;\" onclick=\"news();\">[refresh]</span></h3>\n\t</div>\n{{#payload}}\n\t<div class=\"col-md-12\">\n\t\t<div class=\"panel panel-warning\">\n\t\t\t<div class=\"panel-heading\">{{title}}</div>\n\t\t\t<div class=\"panel-body\">\n\t\t\t\t{{#image}}\n\t\t\t\t<img src=\"data:{{mime}};base64,{{content}}\" style=\"margin: 5px; float: left;\"/>\n\t\t\t\t{{/image}}\n\t\t\t\t<p>{{content}}</p>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n{{/payload}}\n</div>\n","x":649,"y":143,"z":"9267c2d2.6d984","wires":[["e76e1c83.1891e"]]},{"id":"ece17351.131e9","type":"function","name":"params","func":"msg.payload = {\n\tparameters: {\n\t\tinlineImages: true\n\t}\n};\nreturn msg;","outputs":1,"x":289,"y":143,"z":"9267c2d2.6d984","wires":[["39265ba1.c6d9a4"]]},{"id":"39265ba1.c6d9a4","type":"simplicite-session","name":"news","server":"b42c432e.4bd3c","action":"news","x":473,"y":143,"z":"9267c2d2.6d984","wires":[["3c9ae1dc.c3651e","836357dd.7c9ca8"]]},{"id":"836357dd.7c9ca8","type":"debug","name":"","active":false,"console":"false","complete":"false","x":650,"y":202,"z":"9267c2d2.6d984","wires":[]},{"id":"6ce79158.93187","type":"debug","name":"","active":false,"console":"false","complete":"false","x":648,"y":345,"z":"9267c2d2.6d984","wires":[]}]
