test1.json
[{"id":"b42c432e.4bd3c","type":"simplicite-config","host":"localhost","port":"8080","root":"demows","user":"designer","password":"designer","debug":"false"},{"id":"b3d779dc.4c2888","type":"http response","name":"","x":583,"y":63,"z":"1ba4f156.e45b0f","wires":[]},{"id":"ffc83c7e.0037c","type":"http in","name":"","url":"/appinfo","method":"get","x":99,"y":62,"z":"1ba4f156.e45b0f","wires":[["e5e8dba9.1a1728"]]},{"id":"6f78eae1.908714","type":"template","name":"appinfo","field":"payload","template":"<p>\nApplication name: <b>{{payload.name}}</b>\n<br/>Application version: <b>{{payload.version}}</b>\n<br/>Platform version: <b>{{payload.platformversion}}</b>\n<br/>Platform encoding: <b>{{payload.encoding}}</b>\n<br/>Server: <b>{{payload.server}}</b>\n</p>","x":429,"y":64,"z":"1ba4f156.e45b0f","wires":[["b3d779dc.4c2888"]]},{"id":"9168f637.6e9708","type":"debug","name":"","active":false,"console":"false","complete":"false","x":426,"y":119,"z":"1ba4f156.e45b0f","wires":[]},{"id":"e5e8dba9.1a1728","type":"simplicite-session","name":"appinfo","server":"b42c432e.4bd3c","action":"appinfo","x":266,"y":63,"z":"1ba4f156.e45b0f","wires":[["6f78eae1.908714","9168f637.6e9708"]]},{"id":"15143326.eaebcd","type":"http response","name":"","x":583,"y":194,"z":"1ba4f156.e45b0f","wires":[]},{"id":"9c8b904b.63747","type":"http in","name":"","url":"/sysinfo","method":"get","x":99,"y":193,"z":"1ba4f156.e45b0f","wires":[["7dc1ac95.823e54"]]},{"id":"e38b7b9d.1c7488","type":"template","name":"sysinfo","field":"payload","template":"<p>\nObject cache: <b>{{payload.cacheobject}} / {{payload.cacheobjectmax}}</b>\n<br/>Grant cache: <b>{{payload.cachegrant}} / {{payload.cachegrantmax}}</b>\n<br/>Heap: <b>Used {{payload.heapsize}}Kb, Free {{payload.heapfreesize}}Kb, Max {{payload.heapsize}}Kb</b>\n<br/>Disk: <b>DBDoc {{payload.dirdbdoc}}, Cache {{payload.dircache}}Kb, Recycle bin {{payload.dirrecyclebin}}Kb, Free {{payload.diskfree}}Kb</b>\n</p>","x":429,"y":195,"z":"1ba4f156.e45b0f","wires":[["15143326.eaebcd"]]},{"id":"f05054ca.0fafa8","type":"debug","name":"","active":true,"console":"false","complete":"false","x":426,"y":250,"z":"1ba4f156.e45b0f","wires":[]},{"id":"7dc1ac95.823e54","type":"simplicite-session","name":"sysinfo","server":"b42c432e.4bd3c","action":"sysinfo","x":266,"y":194,"z":"1ba4f156.e45b0f","wires":[["e38b7b9d.1c7488","f05054ca.0fafa8"]]}]
