test1.json
[{"id":"b42c432e.4bd3c","type":"simplicite-config","host":"localhost","port":"8080","root":"demows","user":"designer","password":"designer","debug":"false"},{"id":"b3d779dc.4c2888","type":"http response","name":"","x":557,"y":63,"z":"1ba4f156.e45b0f","wires":[]},{"id":"ffc83c7e.0037c","type":"http in","name":"","url":"/info","method":"get","x":99,"y":62,"z":"1ba4f156.e45b0f","wires":[["e5e8dba9.1a1728"]]},{"id":"6f78eae1.908714","type":"template","name":"appinfo","field":"payload","template":"Application name: <b>{{payload.name}}</b>","x":397,"y":63,"z":"1ba4f156.e45b0f","wires":[["b3d779dc.4c2888"]]},{"id":"9168f637.6e9708","type":"debug","name":"","active":false,"console":"false","complete":"false","x":384,"y":121,"z":"1ba4f156.e45b0f","wires":[]},{"id":"e5e8dba9.1a1728","type":"simplicite-session","name":"appinfo","server":"b42c432e.4bd3c","action":"appinfo","x":248,"y":63,"z":"1ba4f156.e45b0f","wires":[["6f78eae1.908714","9168f637.6e9708"]]}]
