test4.json
[{"id":"b42c432e.4bd3c","type":"simplicite-config","host":"localhost","port":"8080","root":"demows","user":"designer","password":"designer"},{"id":"155b436a.eaa4bd","type":"http in","name":"","url":"/demo","method":"get","x":103,"y":55,"z":"10da689d.ef2597","wires":[["592e817d.a6d18"]]},{"id":"592e817d.a6d18","type":"template","name":"demo","field":"payload","template":"<html>\n<head>\n<title>Node-RED &amp; Simplicit&eacute; demo</title>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/>\n<link rel=\"shortcut icon\" href=\"http://simplicite-demo.mybluemix.net/images/image/favicon.ico\"/>\n<link href=\"http://localhost:8080/demo/scripts/jquery/bootstrap/css/bootstrap.min.css\" rel=\"stylesheet\"/>\n<script src=\"http://localhost:8080/demo/scripts/jquery/jquery.js\"></script>\n<script src=\"http://localhost:8080/demo/scripts/ajax/appsession.js\"></script>\n<script src=\"http://localhost:8080/demo/scripts/ajax/businessobject.js\"></script>\n</head>\n<body>\n<div class=\"container\">\n\t<div class=\"row\">\n\t\t<div class=\"col-md-12 well\" style=\"text-align: center; margin-top: 10px;\">\n\t\t\t<img src=\"http://localhost:8080/demo/images/image/logo.png\"/>\n\t\t</div>\n\t</div>\n\t<div class=\"row\">\n\t\t<div id=\"products\" class=\"col-md-9\"></div>\n\t\t<div id=\"news\" class=\"col-md-3\"></div>\n\t</div>\n\t<div class=\"row\">\n\t\t<div class=\"col-md-12\" style=\"text-align: center;\"><hr/>&copy; Simplicit&eacute; Software</div>\n\t</div>\n</div>\n<script src=\"http://localhost:8080/demo/scripts/jquery/bootstrap/js/bootstrap.min.js\"></script>\n<script type=\"text/javascript\">\nfunction products() { $(\"#products\").text(\"Loading...\").load(\"/products\"); }\nfunction news() { $(\"#news\").text(\"Loading...\").load(\"/news\"); }\n$(document).ready(function() { products(); news(); });\n</script>\n</body>\n</html>\n","x":278,"y":54,"z":"10da689d.ef2597","wires":[["9262924c.6d9d7"]]},{"id":"9262924c.6d9d7","type":"http response","name":"","x":437,"y":54,"z":"10da689d.ef2597","wires":[]},{"id":"bdff0a37.4200f8","type":"http in","name":"","url":"/products","method":"get","x":90,"y":226,"z":"10da689d.ef2597","wires":[["df6f7316.20909"]]},{"id":"df6f7316.20909","type":"function","name":"params","func":"msg.payload = {\n\taction: \"search\",\n\tparameters: {\n\t\tinlineDocs: true,/*[ \"prdPicture\" ]*/\n\t},\n\tfilters: {\n\t\tprdAvailable: true\n\t}\n};\nreturn msg;","outputs":1,"x":278,"y":224,"z":"10da689d.ef2597","wires":[["a70899c9.58f768"]]},{"id":"a70899c9.58f768","type":"simplicite-object","name":"","server":"b42c432e.4bd3c","objectname":"DemoProduct","action":"","x":462,"y":224,"z":"10da689d.ef2597","wires":[["c054645c.3fab98"]]},{"id":"c054645c.3fab98","type":"template","name":"products","field":"payload","template":"<div class=\"row\">\n\t<div class=\"col-md-12\">\n\t\t<h3>Products <span style=\"font-size: 0.5em; cursor: pointer; float: right;\" onclick=\"products();\">[refresh]</span></h3>\n\t</div>\n{{#payload.list}}\n\t<div class=\"col-md-6\">\n\t\t<div class=\"panel panel-info\">\n\t\t\t<div class=\"panel-heading\">{{prdSupId__supCode}} / {{prdName}}</div>\n\t\t\t<div class=\"panel-body\">\n\t\t\t\t{{#prdPicture}}\n\t\t\t\t<img src=\"data:{{mime}};base64,{{content}}\" style=\"margin: 5px; float: left;\"/>\n\t\t\t\t{{/prdPicture}}\n\t\t\t\t<p>{{{prdDescription}}}</p>\n\t\t\t\t<p style=\"float: right; color: red; font-weight: bold;\">{{prdUnitPrice}} &euro;</p>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n{{/payload.list}}\n</div>","x":641,"y":224,"z":"10da689d.ef2597","wires":[["c0466b79.3fb998"]]},{"id":"c0466b79.3fb998","type":"http response","name":"","x":804,"y":223,"z":"10da689d.ef2597","wires":[]},{"id":"664a5211.99b5ac","type":"http in","name":"","url":"/news","method":"get","x":94,"y":140,"z":"10da689d.ef2597","wires":[["25c9659.fda369a"]]},{"id":"7587b0c5.8a785","type":"http response","name":"","x":787,"y":140,"z":"10da689d.ef2597","wires":[]},{"id":"15ac7f18.ea5381","type":"template","name":"news","field":"payload","template":"<div class=\"row\">\n\t<div class=\"col-md-12\">\n\t\t<h3>News <span style=\"font-size: 0.5em; cursor: pointer; float: right;\" onclick=\"news();\">[refresh]</span></h3>\n\t</div>\n{{#payload}}\n\t<div class=\"col-md-12\">\n\t\t<div class=\"panel panel-warning\">\n\t\t\t<div class=\"panel-heading\">{{title}}</div>\n\t\t\t<div class=\"panel-body\">\n\t\t\t\t{{#image}}\n\t\t\t\t<img src=\"data:{{mime}};base64,{{content}}\" style=\"margin: 5px; float: left;\"/>\n\t\t\t\t{{/image}}\n\t\t\t\t<p>{{content}}</p>\n\t\t\t</div>\n\t\t</div>\n\t</div>\n{{/payload}}\n</div>\n","x":637,"y":140,"z":"10da689d.ef2597","wires":[["7587b0c5.8a785"]]},{"id":"25c9659.fda369a","type":"function","name":"params","func":"msg.payload = {\n\tinlineImages: true\n};\nreturn msg;","outputs":1,"x":277,"y":140,"z":"10da689d.ef2597","wires":[["b1b4a241.4e4b6"]]},{"id":"b1b4a241.4e4b6","type":"simplicite-session","name":"news","server":"b42c432e.4bd3c","action":"news","x":461,"y":140,"z":"10da689d.ef2597","wires":[["15ac7f18.ea5381"]]}]
